{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>PDG</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <div class="divmain"></div>
        <div class="conta d-flex justify-content-center align-items-center" style="margin-top: 6%;">
            <div class="login-aparte col-md-4 p-5 shadow-sm border rounded-3">
                {% block login %}
                <h2 class="text-center mb-5" style="font-family: 'Lucida Sans';">Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    <h6>{{msg}}</h6>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" style="font-family: 'Lucida Sans';">Correo Electronico</label>
                        <input name="email" type="email" class="form-control border border-secondary" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label" style="font-family: 'Lucida Sans';">Contraseña</label>
                        <input name="password" type="password" class="form-control border border-secondary" id="exampleInputPassword1">
                    </div>
                    <p class="small"><a class="text-primary fw-bold" style="text-decoration: none;" href="{% url 'recoveryPassword' %}">Olvidaste tu contraseña?</a></p>
                    <div class="d-grid">
                        <button class="botoncitos btn btn-primary" style="background-color: #39a900; border-color: transparent;" type="submit">Login</button>
                    </div>
                    <input type="hidden" name="newpassword" value="True">
                </form>
                {% endblock %}
            </div>
        </div>
    </main> 
</body>
