{% extends "login/login.html" %}

{% load static %}
{% block login %}

<h2 class="text-center mb-5" style="font-family: 'Lucida Sans';">Recuperar Cuenta</h2>
<form method="POST">
    {% csrf_token %}
    <p>{{msg}}</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="font-family: 'Lucida Sans';">Correo Electronico</label>
        <input name="email" type="email" class="form-control border border-secondary" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="d-grid">
        <button class="botoncitos btn btn-primary" style="background-color: #39a900; border-color: transparent;" type="submit"><a href=""  style="text-decoration: none; color: white ;">Enviar</a></button>
    </div>
</form>
{% endblock %}