{% extends "Dashboard/Admin.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Usuarios</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard-ex/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard-ex/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->

    <div id="wrapper">
        {% block admin %}
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Usuario</h1>
        </div>
        <div class="container-fluid" style="padding-bottom: 1%; padding-left: 80%;">
        <a href="{% url 'register' %}" class=" btn btn-primary">Nuevo Usuario</a>
        </div>
        <div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tabala de Usuario</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Nro Documento</th>
                                    <th>Nivel de Permisos</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                {% if usuario == user %}
                                {% else %}
                                    <tr>
                                        <td>{{ usuario.first_name}} {{ usuario.last_name}}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.num_documento }}</td>
                                        <td>
                                            <form method="post" action="">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    <select name="roles" class="custom-select custom-select-sm" multiple>
                                                        {% for rol in roles %}
                                                            <option value="{{ rol.rol }}" {% if rol in usuario.roles.all %}selected{% endif %}>{{ rol.get_rol_display }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-outline-primary btn-sm">Guardar</button>
                                                    </div>
                                                </div>
                                                <input name="id_usuario" type="hidden" value="{{ usuario.id }}">
                                            </form>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger eliminar-usuario" data-usuario-id="{{ usuario.id }}">Eliminar</button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('.eliminar-usuario').on('click', function () {
            var usuarioId = $(this).data('usuario-id');
            if (confirm('¿Estás seguro de que quieres eliminar este usuario?')) {
                // Obtener el token CSRF del documento
                var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                // Configurar la solicitud AJAX con el token CSRF
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                // Realizar la solicitud AJAX
                $.ajax({
                    url: '/eliminar_usuario/' + usuarioId + '/',
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        alert(data.mensaje);
                        // Puedes realizar otras acciones después de la eliminación si es necesario
                    },
                    error: function () {
                        alert('Error al eliminar el usuario.');
                    }
                });
            }
        });
    });
</script>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dashboard-ex/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard-ex/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'dashboard-ex/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'dashboard-ex/js/sb-admin-2.min.js' %}"></script>

</body>
</html>