{% extends "Dashboard/Admin.html" %}
{% load static %}
{% block admin %}
<link href="{% static 'dashboard-ex/css/switch.css' %}" rel="stylesheet" />

<!-- Modal de confimacion de guardado de datos -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center row">
                <h5 class="modal-title text-center col-12" id="textModalSucess">Pregunta correctamente guardada</h5>
                <img class="" width="125" src="	https://cdn-icons-png.flaticon.com/512/148/148767.png">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1 class="h3 mb-2 text-gray-800">Preguntas editables</h1>
            <p class="mb-4">Podras agregar mas preguntas del formulario con respecto a las politicas.</p>
        </div>
        <div class="col-6 mt-5" style="padding-left: 20%;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPreguntaPolitica">Agregar</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addPreguntaPolitica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar una pregunta politica</h5>
            </div>
            <div class="modal-body">
                <form id="postPreguntaPolitica">
                    <div class="mb-3">
                        <label class="form-label">Enunciado de la pregunta</label>
                        <input id="iPregunta" type="text" class="form-control" placeholder="Ingrese la pregunta con buena ortografía y gramática"/>
                        <small id="helpId" class="form-text text-muted">Ejemplo: ¿El proyecto está relacionado con la industria 4.0?</small>
                        {% csrf_token %} 
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Periodo</label>
                        <input id="iPeriodo" type="number" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button onclick="addPreguntas()" type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="width: 80%;" id="tablequestion" cellspacing="0">
            <thead>
                <tr>
                    <th class="col-7">Pregunta</th>
                    <th>Periodo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for pregunta in preguntas %}
                <tr>
                    <td>{{pregunta.enunciado}}</td>
                    <td>{{pregunta.periodo}}</td>
                    <td>
                        <label class="switch">
                            <input id="stateInputQuestion{{pregunta.id}}" onclick="changeStateQuestion({{pregunta.id}})" type="checkbox" {% if pregunta.estado %}checked{% endif %}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal 2 anexos -->
<div class="modal fade" id="addAnexos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un nuevo anexo requerido</h5>
            </div>
            <div class="modal-body">
                <form id="postAnexos">
                    <div class="mb-3">
                        <label class="form-label">Enunciado del anexo</label>
                        <input id="nombre_anexo" type="text" class="form-control" placeholder="Ingrese el enunciado con buena ortografía"/>
                        {% csrf_token %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button onclick="agregarAnexo()" type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1 class="h3 mb-2 text-gray-800">Anexos</h1>
            <p class="mb-4">Podrás crear nuevos anexos requeridos para un proyecto.</p>
        </div>
        <div class="col-6 mt-5" style="padding-left: 20%;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addAnexos">Agregar</button>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="width: 80%;" id="tableAnnex" cellspacing="0">
            <thead>
                <tr>
                    <th class="col-7">Anexos</th>
                    <th class="">Estado</th>
                    <th class="">Carga y descargar</th>
                </tr>
            </thead>
            <tbody id="tablaCuerpo">
                {% for document in documents %}
                    <tr>
                        <td>{{ document.nombre }}</td>
                        <td>
                            <label class="switch">
                                <input id="stateInputAnnex{{ document.id }}" onclick="changeStateAnnex({{document.id}})" type="checkbox" {% if document.estado %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-primary">Ver</button> 
                            <button class="btn btn-secondary" onclick="cargarGuia('{{ document.id }}')">Cargar Guía</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Sorry cova :( -->
<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    </style>
{% endblock %}