{% extends "Dashboard/Admin.html" %}
{% load static %}
{% block admin %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Proyectos suspendidos</h1>
    <p class="mb-4">Aqui podras encontrar todos los proyectos que su estado es suspendidos por motivos de interes institucional.</p>
</div>

<!-- /.container-fluid -->
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Proponente</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                <tr>
                    <td>{{proyecto.id}}</td>
                    <td>{{proyecto.titulo_Proyecto}}</td>
                    <td>{{proyecto.usuario.username}}</td>
                    <td>
                        <select class="custom-select selectByDjango" id="{{proyecto.estado.id}}">
                            <option value="1">Terminado</option>
                            <option value="2">Pendiente</option>
                            <option selected value="3">Suspendido</option>
                        </select>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}