{% extends "Dashboard/Admin.html" %}
{% load static %}
{% block admin %}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre Proyecto</th>
                    <th>Centro</th>
                    <th>ID-Proyecto</th>
                    <th>Proponente</th>
                    <th>Observar</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre Proyecto</th>
                    <th>Centro</th>
                    <th>ID-Proyecto</th>
                    <th>Proponente</th>
                    <th>Observar</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Agrosabia</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>

                </tr>
                <tr>
                    <td>Gestion</td>
                    <td>Industrial</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>
                </tr>
                <tr>
                    <td>PDG</td>
                    <td>Industrial</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>
                </tr>
                <tr>
                    <td>Lord Dominic</td>
                    <td>Industrial</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>
                </tr>
                <tr>
                    <td>Statick</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>
                </tr>
                <tr>
                    <td>Ben10</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>
                </tr>
                <tr>
                    <td>Biblioteca</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-success fas fa-eye"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}