{% extends "Dashboard/Admin.html" %}
{% load static %}
{% block admin %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Proyectos Pendientes</h1>
    <p class="mb-4">Podras ver todos los proyectos que aun no tienen un estado definitivo como lo puede ser
        (Terminado, inactivo).
    </p>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre Proyecto</th>
                    <th>Centro</th>
                    <th>ID-Proyecto</th>
                    <th>Proponente</th>
                    <th>Editar Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Agrosabia</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>

                </tr>
                <tr>
                    <td>Gestion</td>
                    <td>Industrial</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>
                </tr>
                <tr>
                    <td>PDG</td>
                    <td>Industrial</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>
                </tr>
                <tr>
                    <td>Lord Dominic</td>
                    <td>Industrial</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>
                </tr>
                <tr>
                    <td>Statick</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>
                </tr>
                <tr>
                    <td>Ben10</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>
                </tr>
                <tr>
                    <td>Biblioteca</td>
                    <td>Colombo</td>
                    <td>N# Identificacion</td>
                    <td>Nombre</td>
                    <td><button type="button" class="btn btn-outline-primary fas fa-edit"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}