{% extends "Dashboard/Admin.html" %}
{% load static %}
    <div id="wrapper">
        {% block admin %}
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Usuario</h1>
        </div>
        <div class="container-fluid" style="padding-bottom: 1%; padding-left: 80%;">
        <a href="{% url 'register' %}" class=" btn btn-primary">Nuevo Usuario</a>
        </div>
        <div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tabla de Usuario</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable text-center" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="d-flex justify-content-center align-items-center text-center">Nombre</p>
                                    </th>
                                    <th>
                                        <p class="d-flex justify-content-center align-items-center text-center">Correo</p>
                                    </th>
                                    <th class="text-center">
                                        Contraseña temporal<br><small>(Si el usuario cambio su contraseña este campo estara vacio)</small>
                                    </th>
                                    <th>
                                        <p class="d-flex justify-content-center align-items-center text-center">Nro Documento</p>
                                    </th>
                                    <th>
                                        <p class="d-flex justify-content-center align-items-center text-center">Nivel de Permisos</p>
                                    </th>
                                    <th>
                                        <p class="d-flex justify-content-center align-items-center text-center">Accion</p>
                                    </th>
                                </tr>
                            </thead>
                            <style>
                                .hoverPointer{
                                cursor: pointer;
                                }
                            </style>
                            <tbody>
                                {% for usuario in usuarios %}
                                {% if usuario == user %}
                                {% else %}
                                    <tr class="text-center">
                                        <td>{{ usuario.first_name}} {{ usuario.last_name}}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td id="clickPassword" class="hoverPointer">{{ usuario.temp_password }}</td>
                                        <td>{{ usuario.num_documento }}</td>
                                        <td>
                                            <form method="post" action="">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    <select name="roles" class="custom-select custom-select-sm" multiple>
                                                        {% for rol in roles %}
                                                            <option value="{{ rol.rol }}" {% if rol in usuario.roles.all %}selected{% endif %}>{{ rol.get_rol_display }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-outline-primary btn-sm">Guardar</button>
                                                    </div>
                                                </div>
                                                <input name="id_usuario" type="hidden" value="{{ usuario.id }}">
                                            </form>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger eliminar-usuario" data-usuario-id="{{ usuario.id }}">Eliminar</button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Small modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

    <div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content text-center">
                Texto copiado en el portapapeles
            </div>
        </div>
    </div>
    {% endblock %}