body{
    background-color: #39a900;
}
.bg-green{
    background-color: #39a900;
}
.btn-bg-green{
    background-color: #39a900;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    position: center;
}
.btn-bg-green:hover{
    border-radius: 0px;
    border-bottom: solid 2px black;
    color: black;
    background-color: white;
}
.btn-bg-white{
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 0.35s;
    position: center;
    font-weight: bold;
    text-align: center;
}
.btn-bg-white:hover{
    background-color: #39a900;
    color: white;
    text-decoration: none;
}
footer{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fffcfc;
    color: #000000;
    text-align: center;
}
.centradow{
    display: flex;
    justify-content: center;
}
.border_radius{
    border-radius: 5px;
}
.rectangular-textarea {
    width: 150%;
    min-height: 100px;
    height: 100px;
  }
  
  .medium-textarea {
    font-size: 16px;
  }
  .border_radius{
    height: auto;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
         -webkit-appearance: none;
          margin: 0;
       }

  .botoncitos {
        transition: 0.4s;
      }
      
  .botoncitos:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
