{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>PDG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- New font and FontAwesome -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <!-- Your own CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JS files -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="{% static 'js/dselect.js' %}"></script>
                    
</head>


<body class="container-fluid">
    <header class=" mt-2 ms-1 me-1 row border_radius">
        <div class="col-2 ps-4 align-self-center">  
        {% if percentaje == 0 %}

        {% else %}
            <a class="" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                <span class="material-symbols-outlined" style="color: #59ab6e;">density_medium</span>
            </a>
        {% endif %}
        </div>
        <div class="col-md-8 col-8 text-center align-self-center">
            <img class="img-fluid pt-3 pb-3" src="{% static 'img/LogoSenaVerde.png' %}" alt="LogoSenaVerde" width="50">
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
            <img class="img-fluid me-2" src="{% static 'img/Logo_GICI.png' %}" alt="Logo Gici" width="70">
            <img class="img-fluid" src="{% static 'img/sennova_logo.png' %}" alt="Sennova Logo" width="160;">
        </div>
    </header>
    <!-- OFFCANVAS -->
    <div class="offcanvas offcanvas-start w-25 w-md-25 dcanva" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% if percentaje == 0 %}
            
            {% else %}
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2  izq border_radius" href="{% url 'edit_proyec' percentaje %}">Crear
                proyecto</a>
            {% endif %}
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'info_proyecto' percentaje %}">Información del
                proyecto</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'estructura_proyecto' percentaje %}">Estructura del
                proyecto</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'objetivos' percentaje %}">Objetivos generales
                específicos</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'seleccionarObjetivo' percentaje %}">Resultados y productos esperados</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'participantes' percentaje %}">Participación</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'seleccionarEntidad' percentaje %}">Participantes de las entidades aliadas</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'proyeccion' percentaje %}">Proyección</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'riesgo_general' percentaje %}">Análisis de
                riesgo</a>
            <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'subir_anexos' percentaje %}">Anexos</a>
            <!-- BARRA DE PROGRESO -->
            <div class="d-flex justify-content-end mt-3 mr-3">
                <div class="col-12 mb-4">
                    <small>Progreso</small>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25;">
                        <div class="progress-bar bg-green" style="width: {{percentaje}}%">{{percentaje}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <main class="row ms-1 me-1 mt-2 border_radius">
        {% block forms %}
        <div class="d-flex justify-content-center col-12">
            {% block title %}
            <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Crear proyecto</h5>
            {% endblock %}
        </div>
        <div class="row justify-content-center cnt_gen pb-5">
            <div class="col-12 col-md-10">
                <div class="mt-2 spos border_radius row me-0">
                    <form method="post" action="" class="needs-validation" id="form1">
                        
                            <div class="row">
                                <!-- Columna 1 - Título -->
                                <div class="col-12 mb-3 p-1">
                                    {% csrf_token %}
                                    <label for="titulo_Proyecto">Título</label>
                                    <textarea class="form-control form-control-sm rectangular-textarea medium-textarea txtarea" style="height: 60px;" name="titulo_Proyecto" id="titulo_Proyecto">{{proyecto.titulo_Proyecto}}</textarea>
                                    <div class="invalid-feedback"></div>
                                </div>
                        
                                <!-- Columna 2 - Descripción -->
                                <div class="col-12 mb-3 p-1">
                                    <label for="descripcion">Descripción</label>
                                    <textarea class="form-control form-control-sm rectangular-textarea medium-textarea txtarea txt_crp" name="descripcion" id="descripcion">{{proyecto.descripcion}}</textarea>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        
                        <!-- Fila 2 -->
                        <div class="row">
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="codigo1">Código grupo de investigación</label>
                                <select name="codigo_Grupo_Investigacion" class="form-select" id="select_box">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    {% for codigo in listaPlegable.codigos %}
                                    {% if codigo == '' %}
                                    {% else %}
                                    <option{% if codigo == proyecto.codigo_Grupo_Investigacion %} selected{% endif %} value="{{codigo}}">{{codigo}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="nombre_grupo1">Nombre grupo de investigación</label>
                                <select name="nombre_Grupo_Investigacion" class="form-select" id="select_box1">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    {% for nombre in listaPlegable.nombres %}
                                    {% if codigo == '' %}
                                    {% else %}
                                    <option{% if nombre == proyecto.nombre_Grupo_Investigacion %} selected{% endif %} value="{{nombre}}">{{nombre}}</option>
                                    {% endif %}
                                    {% endfor %} 
                                </select>
                            </div>
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="titulo2">Línea de investigación</label>
                                <select name="linea_Grupo_Investigacion" class="form-select" id="select_box2">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Desarrollo tecnológico' %} selected{%endif%} value="Desarrollo tecnológico">Desarrollo tecnológico</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Eventos nacionales' %} selected{%endif%} value="Eventos nacionales">Eventos nacionales</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Fomento para la innovación' %} selected{%endif%} value="Fomento para la innovación">Fomento para la innovación</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Investigación aplicada' %} selected{%endif%} value="Investigación aplicada">Investigación aplicada</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Red Tecnoparque Colombia' %} selected{%endif%} value="Red Tecnoparque Colombia">Red Tecnoparque Colombia</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Tecnoacademia fija' %} selected{%endif%} value="Tecnoacademia fija">Tecnoacademia fija</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Tecnoacademia itinerante' %} selected{%endif%} value="Tecnoacademia itinerante">Tecnoacademia itinerante</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Transferencia de conocimiento al sector productivo' %} selected{%endif%} value="Transferencia de conocimiento al sector productivo">Transferencia de conocimiento al sector productivo</option>
                                    <option{% if proyecto.linea_Grupo_Investigacion == 'Revistas' %} selected{%endif%} value="Revistas">Revistas</option>
                                </select>
                            </div>
                        </div>
                        <!-- Fila 3 -->
                        <div class="row">
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="descripcion2">Red de conocimiento sectorial</label>
                                <select name="red_Conocimiento_Sectorial" class="form-select" id="select_box3">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    {% for red in listaPlegable.redes %}
                                    {% if red == '' %}
                                    {% else %}
                                    <option{% if red == proyecto.red_Conocimiento_Sectorial %} selected{% endif %} value="{{red}}">{{red}}</option>
                                    {% endif %}
                                    {% endfor %} 
                                </select>
                            </div>
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="codigo2">Área de conocimiento</label>
                                <select name="area_conocimiento" class="form-select" id="select_box4">
                                    <option value="" disabled selected>Seleccione una opción...</option>
                                    <option{% if proyecto.area_conocimiento == 'Ciencias agrícolas' %} selected{%endif%} value="Ciencias agrícolas">Ciencias agrícolas</option>
                                    <option{% if proyecto.area_conocimiento == 'Ciencias médicas y de salud' %} selected{%endif%} value="Ciencias médicas y de salud">Ciencias médicas y de salud</option>
                                    <option{% if proyecto.area_conocimiento == 'Ciencias sociales' %} selected{%endif%} value="Ciencias sociales">Ciencias sociales</option>
                                    <option{% if proyecto.area_conocimiento == 'Ciencias veterinarias' %} selected{%endif%} value="Ciencias veterinarias">Ciencias veterinarias</option>
                                    <option{% if proyecto.area_conocimiento == 'Ciencias naturales' %} selected{%endif%} value="Ciencias naturales">Ciencias naturales</option>
                                    <option{% if proyecto.area_conocimiento == 'Cuarta revolución industrial' %} selected{%endif%} value="Cuarta revolución industrial">Cuarta revolución industrial</option>
                                    <option{% if proyecto.area_conocimiento == 'Humanidades' %} selected{%endif%} value="Humanidades">Humanidades</option>
                                    <option{% if proyecto.area_conocimiento == 'Industrias creativas' %} selected{%endif%} value="Industrias creativas">Industrias creativas</option>
                                    <option{% if proyecto.area_conocimiento == 'Ingeniería y tecnología' %} selected{%endif%} value="Ingeniería y tecnología">Ingeniería y tecnología</option>                            
                                </select>
                            </div>
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="nombre_grupo2">Sub-área del conocimiento</label>
                                <select name="subarea_conocimiento" class="form-select" id="select_box5">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    {% for subarea in listaPlegable.subareas %}
                                    {% if subarea == '' %}
                                    {% else %}
                                    <option{% if subarea == proyecto.subarea_conocimiento %} selected{% endif %} value="{{subarea}}">{{subarea}}</option>
                                    {% endif %}
                                    {% endfor %} 
                                </select>
                            </div>
                        </div>
                        <!-- Fila 4 -->
                        <div class="row">
                            <div class="col-12 col-sm-4"></div>
                            <div class="col-12 col-sm-4 mb-3 p-1">
                                <label for="nombre_grupo2">Disciplina en cada sub-área</label>
                                <select name="disciplina_subarea" class="form-select" id="select_box6">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    {% for diciplina in listaPlegable.diciplinas %}
                                    {% if diciplina == '' %}
                                    {% else %}
                                    <option{% if diciplina == proyecto.disciplina_subarea %} selected{% endif %} value="{{diciplina}}">{{diciplina}}</option>
                                    {% endif %}
                                    {% endfor %} 
                                </select>
                            </div>
                        </div>
                        <!-- Botón Siguiente centrado -->
                        <div class="d-flex justify-content-center col-12">
                            <button type="submit" class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</main>
      
    {% endblock %}
    <footer class="bg-dark tempaltemo_footer" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">SENNOVA</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            <a class="text-decoration-none">Centro Industrial y de Aviación, Oficina 3er piso biblioteca</a>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none">3002001001</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none">contacto@sennova.edu.co</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-6 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Ayudas</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Inicio</a></li>
                        <li><a class="text-decoration-none" href="#">Acerca</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contacto</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-1 border-top border-light"></div>
                </div>
            </div>
        </div>
        <div class="w-100 bg-black py-1">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2023 SENNOVA
                            | Designed by <a rel="sponsored" href="https://www.sena.edu.co/es-co/formacion/Paginas/tecnologia-innovacion.aspx" target="_blank">SENNOVA</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer> 

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <!-- Search select box -->
    <script>
        var select_box_element = document.querySelector('#select_box');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box1');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box2');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box3');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box4');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box5');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box6');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box7');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box8');

        dselect(select_box_element, {
            search: true
        });
    </script>
     <script>
        var select_box_element = document.querySelector('#select_box9');

        dselect(select_box_element, {
            search: true
        });
    </script>

    <!-- Stepper JavaScript -->
    <script>
        const stepButtons = document.querySelectorAll('.step-button');
        const progress = document.querySelector('#progress');

        Array.from(stepButtons).forEach((button, index) => {
            button.addEventListener('click', () => {
                progress.setAttribute('value', index * 100 / (stepButtons.length - 1));//there are 3 buttons. 2 spaces.

                stepButtons.forEach((item, secindex) => {
                    if (index > secindex) {
                        item.classList.add('done');
                    }
                    if (index < secindex) {
                        item.classList.remove('done');
                    }
                })
            })
        })
    </script>

{% block scripts %}
    <script src="{% static 'js/crearp_validations.js' %}"></script>
{% endblock%}

</body>

</html>