{% extends "form/crearp.html" %}

{% load static %}
{% block forms %}
<div class="accordion" id="accordionExample">
<div class="steps pasop">
    <progress id="progress" value=0 max=100></progress>
    <div class="step-item flex-fill">
        <button class="step-button text-center" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1
        </button>
        <div class="step-title">
            <label for="" class="form-label">Resumen y antecedentes</label>
        </div>
    </div>
    <div class="step-item flex-fill">
        <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2
        </button>
        <div class="step-title">
            Descripción del problema
        </div>
    </div>
</div>
<div class="d-flex justify-content-center col-12">
    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">ESTRUCTURA PROYECTO</h5>
</div>

<div class="card">
    <div id="headingOne">
    </div>
    <!-- Contenido de primer boton -->
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="card-body">
            <div class="contenido">
                <div class="d-flex justify-content-center col-12">
                    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Resumen y antecedentes</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 md-10">
                        <div class="bg-light mt-2 border_radius row me-0">
                            <div class="col-12 md-10">
                                <form method="post" id="form1" action="{% url 'est_proyecto' 1 %}" class="needs-validation">
                                    <input id="id_proyecto" type="hidden" value="{{proyecto.id}}">
                                    {% csrf_token %}
                                
                                <div class="mt-3" style="width: 95%; margin-left: 2%;">
                                    <!-- Primer textarea con label -->
                                    <div class="mb-3">
                                        <label for="resumen_ejecutivo" class="form-label">Resumen ejecutivo</label>
                                        <textarea
                                            class="form-control form-control-sm rectangular-textarea medium-textarea txtarea"
                                            name="resumen_ejecutivo" id="resumen_ejecutivo" cols="30" rows="10"></textarea>
                                            <div class="invalid-feedback">
                                            </div>
                                    </div>

                                    <!-- Segundo textarea con label -->
                                    <div class="mb-3">
                                        <label for="antecedentes" class="form-label">Antecedentes</label>
                                        <textarea
                                            class="form-control form-control-sm rectangular-textarea medium-textarea txtarea"
                                            name="antecedentes" id="antecedentes" cols="30" rows="10"></textarea>
                                            <div class="invalid-feedback">
                                            </div>
                                    </div>

                                    <!-- Botón Siguiente centrado -->
                                    <div class="d-flex justify-content-center col-12">
                                        <button type="button" id="enviar1"
                                        class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div id="headingTwo">
        <!-- Contenido segundo boton -->
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="card-body">
            <div class="contenido">
                <div class="d-flex justify-content-center col-12">
                    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Descripción del problema</h5>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 md-10">
                        <div class="bg-light mt-2 border_radius row me-0">
                            <div class="col-12 md-10">
                                <form method="post" class="needs-validation" id="form2">
                                    {% csrf_token %}
                                    <div class="mt-3" style="width: 95%; margin-left: 2%;">
                                    <!-- Primer textarea con label -->
                                    <div class="mb-3">
                                        <label for="identificacion_y_descripcion_problema" class="form-label">Identificación y descripción
                                        </label>
                                        <textarea
                                            class="form-control form-control-sm rectangular-textarea medium-textarea txtarea"
                                            name="identificacion_y_descripcion_problema" id="identificacion_y_descripcion_problema" cols="30" rows="10"></textarea>
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                    <!-- Segundo textarea con label -->
                                    <div class="mb-3">
                                        <label for="justificacion" class="form-label">Justificación</label>
                                        <textarea
                                            class="form-control form-control-sm rectangular-textarea medium-textarea txtarea"
                                            name="justificacion" id="justificacion" cols="30" rows="10"></textarea>
                                            <div class="invalid-feedback">
                                            </div>
                                    </div>
                                    <!-- Tercer textarea con label -->
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Marco
                                                conceptual</label>
                                            <input class="form-control" name="marco_conceptual" type="file" id="formFile">
                                        </div>
                                    </div>

                                    <!-- Botón Siguiente centrado -->
                                    <div class="d-flex justify-content-center col-12">
                                        <button type="button" id="enviar2"
                                        class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/estp_validations.js' %}"></script>
{% endblock %}