{% extends "form/crearp.html" %}

{% load static %}
{% block forms %}

<div class="accordion" id="accordionExample">
    <div class="steps pasop mt-3">
        <progress id="progress" value=0 max=100 class="mb-4"></progress>

        <!-- Step 1 -->
        <div class="step-item flex-fill mb-3">
            <button class="step-button text-center mb-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="step1">
                1
            </button>
            <div class="step-title">
                <label for="text" class="form-label">Información proponente</label>
            </div>
        </div>

        <!-- Step 2 -->
        <div class="step-item flex-fill mb-3">
            <button class="step-button text-center mb-2 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="step2">
                2
            </button>
            <div class="step-title">
                <label for="text" class="form-label">Autor</label>
            </div>
        </div>

        <!-- Step 3 -->
        <div class="step-item flex-fill mb-3">
            <button class="step-button text-center mb-2 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="step3">
                3
            </button>
            <div class="step-title">
                <label for="text" class="form-label">Participantes</label>
            </div>
        </div>

        <!-- Step 4 -->
        <div class="step-item flex-fill mb-3">
            <button class="step-button text-center mb-2 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="step4">
                4
            </button>
            <div class="step-title">
                <label for="text" class="form-label">Generalidades</label>
            </div>
        </div>
    </div>

    <!-- Info Project -->
    <div class="d-flex justify-content-center col-12">
        <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">INFORMACIÓN PROYECTO</h5>
    </div>
    <input id="id_proyecto" type="hidden" value="{{proyecto.id}}">

    <!-- Card Element -->
    <div class="card">
        <div id="headingOne">
        </div>

        <!-- Content of First Button -->
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <form method="post" class="needs-validation" action="" id="form1">
                <div class="card-body">
                    <div class="contenido">
                        <div class="d-flex justify-content-center col-12">
                            <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">
                                Información proponente</h5>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                <div class="bg-light mt-2 spos border_radius row me-0">

                                    <!-- First Column with 5 rows -->
                                    <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                        {% csrf_token %}
                                        <label for="Region" class="form-label">Región</label>
                                        <select name="Region" class="form-select" id="select_box">
                                            <option value="" disabled selected>Selecciona una opción...</option>
                                            <option value="amazonica">Amazónica</option>
                                            <option value="andina_insular">Andina e insular</option>
                                            <option value="caribe">Caribe</option>
                                            <option value="pacifico">Pacífica</option>
                                            <option value="orinoquia">Orinoquía</option>
                                        </select>

                                        <label for="Regional" class="form-label">Regional</label>
                                        <select name="Regional" id="select_box2" class="form-select">
                                            <option value="" disabled selected>Selecciona una opción...</option>
                                            <option value="amazonas">AMAZONAS</option>
                                            <option value="antioquia">ANTIOQUIA</option>
                                            <option value="arauca">ARAUCA</option>
                                            <option value="atlantico">ATLÁNTICO</option>
                                            <option value="bolivar">BOLÍVAR</option>
                                            <option value="boyaca">BOYACÁ</option>
                                            <option value="caldas">CALDAS</option>
                                            <option value="caqueta">CAQUETÁ</option>
                                            <option value="cauca">CAUCA</option>
                                            <option value="cesar">CESAR</option>
                                            <option value="choco">CHOCO</option>
                                            <option value="cordoba">CÓRDOBA</option>
                                            <option value="cundinamarca">CUNDINAMARCA</option>
                                            <option value="distrito_capital">DISTRITO CAPITAL</option>
                                            <option value="guainia">GUAINÍA</option>
                                            <option value="guajira">GUAJIRA</option>
                                            <option value="guaviare">GUAVIARE</option>
                                            <option value="huila">HUILA</option>
                                            <option value="magdalena">MAGDALENA</option>
                                            <option value="meta">META</option>
                                            <option value="narinio">NARIÑO</option>
                                            <option value="norte_santander">NORTE DE SANTANDER</option>
                                            <option value="putumayo">PUTUMAYO</option>
                                            <option value="quindio">QUINDÍO</option>
                                            <option value="san_andres">SAN ANDRÉS</option>
                                            <option value="santander">SANTANDER</option>
                                            <option value="tolima">TOLIMA</option>
                                            <option value="vaupes">VAUPÉS</option>
                                            <option value="vichada">VICHADA</option>
                                            <option value="valle">VALLE</option>
                                        </select>

                                        <label for="Nombre_centro_formacion" class="form-label">Nombre centro de
                                            formación</label>
                                            <select name="Nombre_centro_formacion" id="select_box3"
                                            class="form-select">
                                            <option value="" disabled selected>Selecciona una opción...</option>
                                            {% for nombre in listaPlegable.nombresC %}
                                            {% if nombre == '' %}
                                            {% else %}
                                            <option value="{{nombre}}">{{nombre}}</option>
                                            {% endif %}
                                            {% endfor %} 
                                            </select>

                                        <label for="Nombre_Director" class="form-label">Nombre del director(a)
                                            regional</label>
                                        <input type="text" class="form-control form-control-sm" name="Nombre_Director"
                                            id="Nombre_Director" aria-describedby="helpId" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="email_director" class="form-label">Email director(a)
                                            regional</label>
                                        <input type="email" class="form-control form-control-sm" name="email_director"
                                            id="email_director" aria-describedby="helpId" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>

                                    <!-- Second Column with 4 rows -->
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="Numero_Director" class="form-label">Telefono director(a)
                                            regional</label>
                                        <input type="text" class="form-control form-control-sm" name="Numero_Director"
                                            id="Numero_Director" aria-describedby="helpId" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="Nombre_Sub_Director" class="form-label">Nombre subdirector(a)
                                            regional</label>
                                        <input type="text" class="form-control form-control-sm"
                                            name="Nombre_Sub_Director" id="Nombre_Sub_Director"
                                            aria-describedby="helpId" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="email_sub_director" class="form-label">Email subdirector(a)
                                            regional</label>
                                        <input type="email" class="form-control form-control-sm"
                                            name="email_sub_director" id="email_sub_director" aria-describedby="helpId"
                                            placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="Numero_Sub_Director" class="form-label">Telefono subdirector(a)
                                            regional</label>
                                        <input type="text" class="form-control form-control-sm"
                                            name="Numero_Sub_Director" id="Numero_Sub_Director"
                                            aria-describedby="helpId" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>

                                    <!-- Next Button Centered -->
                                    <div class="d-flex justify-content-center col-12">
                                        <button type="button" id="enviar1"
                                            class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="card">
    <div id="headingTwo">
        <!-- Contenido segundo boton -->
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="card-body">
            <div class="contenido">
                <div class="d-flex justify-content-center col-12">
                    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Autor</h5>
                </div>
                <!-- Tabla de autores -->
                <div class="container mt-5">
                    <div class="table-responsive" id="tabla-container">
                        <table class="table tablita tabla_autores">
                            <thead>
                                <tr>
                                    <th>Nombre del autor(a)</th>
                                    <th>Tipo de vinculación</th>
                                    <th>Número de documento</th>
                                    <th>Rol sennova</th>
                                    <th>Correo electrónico</th>
                                    <th>Número de teléfono</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for autor in autores%}
                                <tr>
                                    <td>{{autor.nombre_Autor_Proyecto}}</td>
                                    <td>{{autor.tipo_Vinculacion_entidad}}</td>
                                    <td>{{autor.numero_Cedula_Autor}}</td>
                                    <td>{{autor.rol_Sennova_De_Participantes_de_Proyecto}}</td>
                                    <td>{{autor.email_Autor_Proyecto}}</td>
                                    <td>{{autor.numero_Telefono_Autor}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Acciones">
                                            <button onclick="edit_autor({{autor.id}})" type="button" class="btn btn-success">Editar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for autor in autores%}
                    <div id="autor{{ autor.id }}">
                        <input id="id_autor_hidden" type="hidden" value="{{autor.id}}">
                        <input id="Nombre_Autor_Proyecto_hidden" type="hidden" value="{{autor.nombre_Autor_Proyecto}}">
                        <input id="tipo_Vinculacion_entidad_hidden" type="hidden" value="{{autor.tipo_Vinculacion_entidad}}">
                        <input id="Numero_Cedula_Autor_hidden" type="hidden" value="{{autor.numero_Cedula_Autor}}">
                        <input id="rol_Sennova_De_Participantes_de_Proyecto_hidden" type="hidden" value="{{autor.rol_Sennova_De_Participantes_de_Proyecto}}">
                        <input id="Email_Autor_Proyecto_hidden" type="hidden" value="{{autor.email_Autor_Proyecto}}">
                        <input id="Numero_meses_vinculacion_Autor_hidden" type="hidden" value="{{autor.numero_meses_vinculacion_Autor}}">
                        <input id="Numero_Telefono_Autor_hidden" type="hidden" value="{{autor.numero_Telefono_Autor}}">
                        <input id="Numero_horas_Semanales_dedicadas_Autores_hidden" type="hidden" value="{{autor.numero_horas_Semanales_dedicadas_Autores}}">
                    </div>
                    {% endfor %}

                    <div class="col-12 col-md-10">
                        <form method="post" class="needs-validation" action="" id="form2">
                        {% csrf_token %}
                        <input id="id_autor" type="hidden">
                        <div class="bg-light mt-2 spos border_radius row me-0">
                            <!-- Primera columna con 4 filas -->
                            <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                <label for="nombre_Autor_Proyecto" class="form-label">Nombre del autor(a) del proyecto 1</label>
                                <input type="text" name="nombre_Autor_Proyecto" id="Nombre_Autor_Proyecto" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Tipo_Vinculacion_entidad" class="form-label">Tipo de vinculación a la entidad</label>
                                <select name="tipo_Vinculacion_entidad" id="tipo_Vinculacion_entidad" class="form-select">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="contratista">Contratista</option>
                                    <option value="planta">Planta</option>
                                    <option value="planta_temporal">Planta temporal</option>
                                </select>
                                
                                <label for="Numero_Cedula_Autor" class="form-label">Número de documento del autor 1</label>
                                <input name="numero_Cedula_Autor" id="Numero_Cedula_Autor" type="number" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Rol_Sennova_De_Participantes_de_Proyecto" class="form-label">Rol sennova del autor 1 del proyecto</label>
                                <select name="rol_Sennova_De_Participantes_de_Proyecto"  id="rol_Sennova_De_Participantes_de_Proyecto" class="form-select">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="formulador">Formulador</option>
                                    <option value="investigador">Investigador</option>
                                    <option value="dinamizador">Dinamizador</option>
                                    <option value="instructor">Instructor</option>
                                    <option value="gestor_laboratorio">Gestor laboratorio</option>
                                    <option value="aprendiz">Aprendiz</option>
                                </select>
                            </div>
    
                            <!-- Segunda columna con 4 filas -->
                            <div class="col-12 col-md-6 mb-3">
                                <label for="Email_Autor_Proyecto" class="form-label">Correo electrónico del autor 1</label>
                                <input name="email_Autor_Proyecto" id="Email_Autor_Proyecto" type="email" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Numero_meses_vinculacion_Autor" class="form-label">Num. meses vinculación proyecto</label>
                                <input name="Numero_meses_vinculacion_Autor" id="Numero_meses_vinculacion_Autor" type="number" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Numero_Telefono_Autor" class="form-label">Número de telefóno del autor 1</label>
                                <input name="Numero_Telefono_Autor" id="Numero_Telefono_Autor" type="text" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Numero_horas_Semanales_dedicadas_Autores" class="form-label">Num. horas semanales del proyecto</label>
                                <input name="Numero_horas_Semanales_dedicadas_Autores" id="Numero_horas_Semanales_dedicadas_Autores" type="number" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            
    
                            <!-- Botón Siguiente centrado -->
                            <div class="d-flex justify-content-center col-12">
                                <button class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow" id="enviar2">Siguiente</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div id="headingThree">

    </div>
    <!-- Tercer boton de contenido -->
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="card-body">
            <div class="contenido">
                <div class="d-flex justify-content-center col-12">
                    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Participantes</h5>
                </div>
                    <!-- Tabla de participantes -->
                    <div class="container mt-5">
                        <div class="table-responsive" id="tabla-container-2">
                            <table class="mitabla table tabla_participantes">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Número documento</th>
                                        <th>N° meses vinculación</th>
                                        <th>Email participantes</th>
                                        <th>N° horas semanales</th>
                                        <th>Telefono</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for participante in participantes %}
                                    <tr>
                                        <td>{{participante.nombre_participantes_de_desarrollo}}</td>
                                        <td>{{participante.numero_cedula_participantes}}</td>
                                        <td>{{participante.numero_meses_vinculacion_participantes}}</td>
                                        <td>{{participante.email_participantes_de_desarrollo}}</td>
                                        <td>{{participante.numero_horas_Semanales_dedicadas_participantes}}</td>
                                        <td>{{participante.numero_Telefono_participantes}}</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Acciones">
                                                <button onclick="edit_participantes({{participante.id}})" type="button" class="btn btn-success">Editar</button>
                                                <button type="button" class="btn btn-danger">Eliminar</button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                    {% for participante in participantes %}
                    <div id="participante{{ participante.id }}">
                        <input id="id_participante_hidden" type="hidden" value="{{participante.id}}">
                        <input id="Nombre_participantes_de_desarrollo_hidden" type="hidden" value="{{participante.nombre_participantes_de_desarrollo}}">
                        <input id="Rol_Sennova_De_Participantes_de_Proyecto_hidden" type="hidden" value="{{participante.rol_Sennova_De_Participantes_de_Proyecto}}">
                        <input id="Numero_cedula_participantes_hidden" type="hidden" value="{{participante.numero_cedula_participantes}}">
                        <input id="Numero_meses_vinculacion_participantes_hidden" type="hidden" value="{{participante.numero_meses_vinculacion_participantes}}">
                        <input id="Email_participantes_de_desarrollo_hidden" type="hidden" value="{{participante.email_participantes_de_desarrollo}}">
                        <input id="Numero_horas_Semanales_dedicadas_participantes_hidden" type="hidden" value="{{participante.numero_horas_Semanales_dedicadas_participantes}}">
                        <input id="Numero_Telefono_participantes_hidden" type="hidden" value="{{participante.numero_Telefono_participantes}}">
                    </div>
                    {% endfor %}
                    <form method="post" class="needs-validation" action="" id="form3">
                        <div class="bg-light mt-2 spos border_radius row me-0">
                            <input id="id_participante" type="hidden">
                            <!-- Primera columna con 4 campos -->
                            <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                {% csrf_token %}
                             
                                <label for="Nombre_participantes_de_desarrollo" class="form-label">Nombres y apellidos del participante
                                    desarrollo del proyecto</label>
                                <input type="text" name="Nombre_participantes_de_desarrollo" id="Nombre_participantes_de_desarrollo" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>

                                <label for="Rol_Sennova_De_Participantes_de_Proyecto" class="form-label">Rol Sennova del participante en el desarrollo del proyecto</label>
                                <select name="Rol_Sennova_De_Participantes_de_Proyecto" id="Rol_Sennova_De_Participantes_de_Proyecto" class="form-select">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="formulador">Formulador</option>
                                    <option value="investigador">Investigador</option>
                                    <option value="dinamizador">Dinamizador</option>
                                    <option value="instructor">Instructor</option>
                                    <option value="aprendiz">Aprendiz</option>
                                </select>
                                
                                <label for="Numero_cedula_participantes" class="form-label">Número de documento del participante
                                    desarrollo del proyecto</label>
                                <input type="number" name="Numero_cedula_participantes" id="Numero_cedula_participantes" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Numero_meses_vinculacion_participantes" class="form-label fs-6 fw-normal">Num. meses vinculación participante en el
                                    desarrollo del proyecto</label>
                                <input type="number" name="Numero_meses_vinculacion_participantes" id="Numero_meses_vinculacion_participantes" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>

                            </div>
    
                            <!-- Segunda columna con 3 campos -->
                            <div class="col-12 col-md-6 mb-3">
                                <label for="Email_participantes_de_desarrollo" class="form-label">Correo electrónico del participante
                                    desarrollo del proyecto</label>
                                <input type="email" name="Email_participantes_de_desarrollo" id="Email_participantes_de_desarrollo" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Numero_horas_Semanales_dedicadas_participantes" class="form-label">Num. horas semanales dedicadas participante
                                    desarrollo del proyecto</label>
                                <input type="number" name="Numero_horas_Semanales_dedicadas_participantes" id="Numero_horas_Semanales_dedicadas_participantes" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>
                                
                                <label for="Numero_Telefono_participantes" class="form-label">Número de teléfono del participante
                                    desarrollo del proyecto</label>
                                <input type="number" name="Numero_Telefono_participantes" id="Numero_Telefono_participantes" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback">
                                </div>

                            </div>
                            
                            <!-- Botón Siguiente centrado -->
                            <div class="d-flex justify-content-center col-12">
                                <button class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow" id="enviar3">Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<!-- Cuarto boton de contenido -->
<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
    <form method="post" class="needs-validation" action="" id="form4">
        <div class="card-body">
            <div class="contenido">
                <div class="d-flex justify-content-center col-12">
                    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Generalidades</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="bg-light mt-2 spos border_radius row me-0">
                            <!-- Columna 1 -->
                            <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                {% csrf_token %}
                                <label for="codigo_Dependencia_Presupuestal" class="form-label">Codigo dependencia prespuestal<br>(SIIF)</label>
                                <select name="codigo_Dependencia_Presupuestal" id="select_box7" class="form-select">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option value="inv_aplicada_66">Investigación aplicada 66</option>
                                    <option value="desarrollo_tec_mod_ambiente_23">Desarrollo
                                        tecnológico(23-Modernización de ambientes)</option>
                                    <option value="fomento_innovacion_82">Fomento para la innovacion(82)
                                    </option>
                                </select>
                                <label for="tematicas_Estrategias_SENA" class="form-label mt-3">Temáticas estratégicas SENA</label>
                                <select name="tematicas_Estrategias_SENA" id="select_box8" class="form-select">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option value="sostenibilidad_medio_ambiente">Sostenibilidad y medio
                                        ambiente</option>
                                    </option>
                                    <option value="salud">Salud</option>
                                    <option value="productos_bid">Productos BIO</option>
                                    <option value="digitalidad_tech">Digitalidad y TECH</option>
                                    <option value="innov_tecno_sociedad">Innovación y tecnología y sociedad
                                    </option>
                                    <option value="econ_naranja">Economía naranja</option>
                                    <option value="industria_40">Industria 4.0</option>
                                    <option value="movilidad_industria">Movilidad e industria</option>
                                </select>
                                <label for="link_video_proyecto" class="form-label mt-4">Link de video del proyecto</label>
                                <input type="url" name="link_video_proyecto" id="link_video_proyecto" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback"></div>
                                <label for="" class="form-label mt-3">¿El proyecto está relacionado con Industrial 4.0?</label>
                                <select name="proyecto_Relacionado_Industrial40" id="proyecto_Relacionado_Industrial40" class="form-control selectmod">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                                <label for="justificacion_Industrial" class="form-label mt-5">Si contestó la pregunta anterior de forma afirmativa, justifique.</label>
                                <input type="text" name="justificacion_Industrial" id="justificacion_Industrial" class="form-control form-control-sm">
                                <div class="invalid-feedback"></div>
                            </div>
                            <!-- Columna 2 -->
                            <div class="col-12 col-md-6 mb-3">
                                <label for="" class="form-label mt-2 fuente_p">¿En cuál de estas actividades económicas se puede aplicar el proyecto de investigación?<br> Código CIIU versión 4AC REV Colombia</label>
                                <select name="actividades_economicas_del_proyecto_investigacion" id="select_box9" class="form-select">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option value="agricultura_ganaderia_1"
                                        data-title="Agricultura, ganadería, caza y actividades de servicios conexas">
                                        Agricultura, ganadería, caza y actividades de servicios conexas
                                    </option>

                                    <option value="silvicultura_extraccion_2">Silvicultura y extracción de
                                        madera</option>
                                    <option value="pesca_acuicultura_3">Pesca y acuicultura</option>
                                    <option value="extraccion_carbon_4">Extracción de carbón de piedra y
                                        lignito</option>
                                    <option value="extraccion_petroleo_5">Extracción de petróleo crudo y gas
                                        natural</option>
                                    <option value="extraccion_minerales_6">Extracción de minerales
                                        metalíferos</option>
                                    <option value="extraccion_minas_7">Extracción de otras minas y canteras
                                    </option>
                                    <option value="servicios_explotacion_8">Actividades de servicios de
                                        apoyo para la explotación de minas</option>
                                    <option value="elaboracion_alimentos_9">Elaboración de productos
                                        alimenticios</option>
                                    <option value="elaboracion_bebidas_10">Elaboración de bebidas</option>
                                    <option value="productos_tabaco_11">Elaboración de productos de tabaco
                                    </option>
                                    <option value="fabricacion_textiles_12">Fabricación de productos
                                        textiles</option>
                                    <option value="confeccion_vestir_13">Confección de prendas de vestir
                                    </option>
                                    <option value="curtido_cueros_14">Curtido y recurtido de cueros;
                                        fabricación de calzado; fabricación de artículos de viaje, maletas,
                                        bolsos de mano y artículos similares, y fabricación de artículos de
                                        talabartería y guarnicionería; adobo y teñido de pieles</option>
                                    <option value="transformacion_madera_15">Transformación de la madera y
                                        fabricación de productos de madera y de corcho, excepto muebles;
                                        fabricación de artículos de cestería y espartería</option>
                                    <option value="fabricacion_papel_16">Fabricación de papel, cartón y
                                        productos de papel y cartón</option>
                                    <option value="actividades_impresion_17">Actividades de impresión y de
                                        producción de copias a partir de grabaciones originales</option>
                                    <option value="coquizacion_18">Coquización, fabricación de productos de
                                        la refinación del petróleo y actividad de mezcla de combustibles
                                    </option>
                                    <option value="sustancias_quimicas_19">Fabricación de sustancias y
                                        productos químicos</option>
                                    <option value="productos_farmaceuticos_20">Fabricación de productos
                                        farmacéuticos, sustancias químicas medicinales y productos botánicos
                                        de uso farmacéutico</option>
                                    <!-- ... Y así sucesivamente. La lista es muy extensa y aquí solo muestro una parte -->

                                    <!-- Asegúrate de continuar el patrón hasta completar la lista total -->
                                </select>
                                <label for="" class="form-label">¿El proyecto está relacionado con la economía naranja?</label>
                                <select name="proyecto_Relacionado_Economia_Naranja" id="proyecto_Relacionado_Economia_Naranja" class="form-control selectmod">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                                
                                <label for="justificacion_Economia_Naranja" class="form-label">Si contestó la pregunta anterior de forma afirmativa, justifique.</label>
                                <input type="text" name="justificacion_Economia_Naranja" id="justificacion_Economia_Naranja" class="form-control form-control-sm" placeholder="">
                                <div class="invalid-feedback"></div>
                                
                                <label for="" class="form-label">¿El proyecto aporta a la Política Institucional para Atención de las Personas con discapacidad?</label>
                                <select name="proyecto_Relacionado_Politica_Discapacidad" id="proyecto_Relacionado_Politica_Discapacidad" class="form-control selectmod">
                                    <option value="" disabled selected>Selecciona una opción...</option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                                
                                <label for="justificacion_Politica_Discapacidad" class="form-label mt-3">Si contestó la pregunta anterior de forma afirmativa, justifique.</label>
                                <input type="text" class="form-control form-control-sm" name="justificacion_Politica_Discapacidad" id="justificacion_Politica_Discapacidad" placeholder="">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <!-- Botón Siguiente centrado -->
                        <div class="d-flex justify-content-center col-12">
                            <button id="enviar4" class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/infop_validations.js' %}"></script>
{% endblock%}