{% extends "form/crearp.html" %}

{% load static %}
{% block forms %}

<div class="accordion" id="accordionExample">
    <div class="steps pasop mt-3">
        <progress id="progress" value=0 max=100 class="mb-4"></progress>

        <!-- Step 1 -->
        <div class="step-item flex-fill mb-3">
            <button class="step-button text-center mb-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="step1">
                1
            </button>
            <div class="step-title">
                <label for="text" class="form-label">Centro formación</label>
            </div>
        </div>

        <!-- Step 2 -->
        <div class="step-item flex-fill mb-3">
            <button class="step-button text-center mb-2 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="step2">
                2
            </button>
            <div class="step-title">
                <label for="text" class="form-label">Entidad aliada</label>
            </div>
        </div>
    </div>

    <!-- Info Project -->
    <div class="d-flex justify-content-center col-12">
        <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">ANÁLISIS PARTICIPANTES</h5>
    </div>
    <input id="id_proyecto" type="hidden" value="{{proyecto.id}}">



    <!-- Card Element  -->
    <div class="card">
        <div id="headingOne">
        </div>

        <!-- Content of First Button -->
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <form method="post" class="needs-validation" id="form1">
                <div class="card-body">
                    <div class="contenido">
                        <div class="d-flex justify-content-center col-12">
                            <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">
                                Centro de formación</h5>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                <div class="bg-light mt-2 spos border_radius row me-0">

                                    <!-- First Column with 5 rows -->
                                    <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                        <label for="nombre_semillero_investigacion_beneficiados"
                                            class="form-label">Nombres de los semilleros de investigación
                                            beneficiados</label>
                                        <input type="text" name="nombre_semillero_investigacion_beneficiados"
                                            id="nombre_semillero_investigacion_beneficiados"
                                            class="form-control form-control-sm" placeholder="" value="{{centro_f.nombre_semillero_investigacion_beneficiados}}">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="" class="form-label">Número de programas de formación beneficiados
                                            que conforman el (los) semillero (s)</label>
                                        <select name="numero_programas_beneficiarios_semilleros_investigacion"
                                            id="numero_programas_beneficiarios_semilleros_investigacion"
                                            class="form-control selectmod">
                                            <option value="" disabled selected>Seleccione...</option>
                                            <option {%if centro_f.numero_programas_beneficiarios_semilleros_investigacion == 1 %}selected{%endif%} value="1">1</option>
                                            <option {%if centro_f.numero_programas_beneficiarios_semilleros_investigacion == 2 %}selected{%endif%} value="2">2</option>
                                            <option {%if centro_f.numero_programas_beneficiarios_semilleros_investigacion == 3 %}selected{%endif%} value="3">3</option>
                                            <option {%if centro_f.numero_programas_beneficiarios_semilleros_investigacion == 4 %}selected{%endif%} value="4">4</option>
                                            <option {%if centro_f.numero_programas_beneficiarios_semilleros_investigacion == 5 %}selected{%endif%} value="5">5</option>
                                        </select>

                                        <label for="" class="form-label">Tipo de programas de formación beneficiados que
                                            conforman el (los) semillero (s)</label>
                                        <select name="tipo_programas_formacion_beneficiados_conforman_semillero"
                                            id="tipo_programas_formacion_beneficiados_conforman_semillero"
                                            class="form-control selectmod">
                                            <option value="" disabled selected>Selecciona una opción...</option>
                                            <option {%if centro_f.tipo_programas_formacion_beneficiados_conforman_semillero == 'tecnico' %}selected{%endif%} value="tecnico">Técnico</option>
                                            <option {%if centro_f.tipo_programas_formacion_beneficiados_conforman_semillero == 'tecnologico' %}selected{%endif%} value="tecnologico">Tecnológico</option>
                                        </select>

                                        <label for="" class="form-label">Nombre de los programas de formación
                                            beneficiados que conforman el (los) semillero (s) </label>
                                        <input type="text" name="nombre_programas_formacion_beneficiados_semillero"
                                            id="nombre_programas_formacion_beneficiados_semillero"
                                            class="form-control form-control-sm" placeholder="" value="{{centro_f.nombre_programas_formacion_beneficiados_semillero}}">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="" class="form-label">Tipo de programas de formación beneficiados con
                                            la ejecución del proyecto</label>
                                        <select name="tipo_programas_de_formacion_beneficiados_por_ejecucion"
                                            id="tipo_programas_de_formacion_beneficiados_por_ejecucion"
                                            class="form-control selectmod">
                                            <option value="" disabled selected>Selecciona una opción...</option>
                                            <option {%if centro_f.tipo_programas_de_formacion_beneficiados_por_ejecucion == 'tecnico' %}selected{%endif%} value="tecnico">Técnico</option>
                                            <option {%if centro_f.tipo_programas_de_formacion_beneficiados_por_ejecucion == 'tecnologico' %}selected{%endif%} value="tecnologico">Tecnológico</option>
                                        </select>
                                    </div>

                                    <!-- Second Column with 4 rows -->
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="" class="form-label">Nombre de los programas de formación
                                            beneficiados con la ejecución del proyecto</label>
                                        <input type="text"
                                            name="nombre_programas_formacion_beneficiados_ejecucion_proyecto"
                                            id="nombre_programas_formacion_beneficiados_ejecucion_proyecto"
                                            class="form-control form-control-sm" placeholder="" value="{{centro_f.nombre_programas_formacion_beneficiados_ejecucion_proyecto}}">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="" class="form-label">Número de los aprendices que participarán en la
                                            ejecución del proyecto</label>
                                        <input type="number" name="numero_aprendices_participaran_ejecucion_proyecto"
                                            id="numero_aprendices_participaran_ejecucion_proyecto"
                                            class="form-control form-control-sm" placeholder="" value="{{centro_f.numero_aprendices_participaran_ejecucion_proyecto}}">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="" class="form-label">Número de municipios beneficiados con la
                                            ejecución del proyecto</label>
                                        <input type="number" name="numero_municipios_beneficiados"
                                            id="numero_municipios_beneficiados" class="form-control form-control-sm"
                                            placeholder="" value="{{centro_f.numero_municipios_beneficiados}}">
                                        <div class="invalid-feedback">
                                        </div>

                                        <label for="" class="form-label">Nombre de los municipios beneficiados y
                                            descripción del beneficio</label>
                                        <input type="text" name="nombre_municipios_beneficiados_descripcion_beneficio"
                                            id="nombre_municipios_beneficiados_descripcion_beneficio"
                                            class="form-control form-control-sm" placeholder="" value="{{centro_f.nombre_municipios_beneficiados_descripcion_beneficio}}">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>

                                    <!-- Next Button Centered -->
                                    <div class="d-flex justify-content-center col-12">
                                        <button id="enviar1"
                                            class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="card">
        <div id="headingTwo">
            <!-- Contenido segundo boton -->
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="card-body">
                <div class="contenido">
                    <div class="d-flex justify-content-center col-12">
                        <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Entidad
                            aliada</h5>
                    </div>
                    <!-- Tabla de participantes -->
                    <div class="container mt-5">
                        <div class="table-responsive" id="tabla-container">
                            <table class="tablita table">
                                <thead>
                                    <tr>
                                        <th>Nombre entidad</th>
                                        <th>NIT</th>
                                        <th>Tipo entidad</th>
                                        <th>Naturaleza entidad</th>
                                        <th>Clasificación empresa</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entidad_a in entidad_a %}
                                    <tr>
                                        <td>{{entidad_a.nombre_entidad}}</td>
                                        <td>{{entidad_a.nit}}</td>
                                        <td>{{entidad_a.tipo_entidad_aliada}}</td>
                                        <td>{{entidad_a.naturaleza_entidad}}</td>
                                        <td>{{entidad_a.clasificacion_empresa}}</td>
                                        <td>
                                            <button onclick="edit_entidad({{entidad_a.id}})" type="button"
                                                class="btn btn-success">Editar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="entidadesDiv">
                        {% for entidad_a in entidad_a %}
                        <div id="entidad{{ entidad_a.id }}">
                            <input id="id_entidad_hidden" type="hidden" value="{{entidad_a.id}}">
                            <input id="nombre_entidad_hidden" type="hidden" value="{{entidad_a.nombre_entidad}}">
                            <input id="tipo_entidad_aliada_hidden" type="hidden" value="{{entidad_a.tipo_entidad_aliada}}">
                            <input id="naturaleza_entidad_hidden" type="hidden" value="{{entidad_a.naturaleza_entidad}}">
                            <input id="clasificacion_empresa_hidden" type="hidden" value="{{entidad_a.clasificacion_empresa}}">
                            <input id="nit_hidden" type="hidden" value="{{entidad_a.nit}}">
                            <input id="convenio_hidden" type="hidden" value="{{entidad_a.convenio}}">
                            <input id="especifique_tipo_codigo_convenio_hidden" type="hidden" value="{{entidad_a.especifique_tipo_codigo_convenio}}">
                            <input id="recursos_especie_entidad_hidden" type="hidden" value="{{entidad_a.recursos_especie_entidad}}">
                            <input id="descripcion_recursos_especie_aportados_hidden" type="hidden" value="{{entidad_a.descripcion_recursos_especie_aportados}}">
                            <input id="recursos_dinero_entidad_aliada_hidden" type="hidden" value="{{entidad_a.recursos_dinero_entidad_aliada}}">
                            <input id="descripcion_destinacion_dinero_aportado_hidden" type="hidden" value="{{entidad_a.descripcion_destinacion_dinero_aportado}}">
                            <input id="select_box_hidden" type="hidden" value="{{entidad_a.codigo_gruplac_entidad_aliada}}">
                            <input id="nombregrupo_hidden" type="hidden" value="{{entidad_a.nombre_grupo_inv_entidad_aliada}}">
                            <input id="link_gruplac_entidad_aliada_hidden" type="hidden" value="{{entidad_a.link_gruplac_entidad_aliada}}">
                            <input id="actividades_desarrollar_entidad_aliada_marco_proyecto_hidden" type="hidden" value="{{entidad_a.actividades_desarrollar_entidad_aliada_marco_proyecto}}"> 
                            <input id="metodologia_act_transferencia_centro_formacion_hidden" type="hidden" value="{{entidad_a.metodologia_act_transferencia_centro_formacion}}">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10">
                            <form class="needs-validation" method="post" id="form2">
                                {% csrf_token %}
                                <div class="bg-light mt-2 spos border_radius row me-0">
                                    <!-- Primera columna con 11 campos-->
                                    <div class="col-12 col-md-6">
                                        <div class="mb-3 border-end pe-4 border-color-custom">

                                            <input id="id_entidad" type="hidden">
                                            <input id="id_proyecto" type="hidden" value="{{proyecto.id}}">

                                            <label for="" class="form-label">Nombre de la entidad aliada/Centro de
                                                Formación</label>
                                            <input type="text" name="nombre_entidad" id="nombre_entidad"
                                                class="form-control form-control-sm" placeholder="">
                                            <div class="invalid-feedback">
                                            </div>

                                            <label for="" class="form-label">Tipo de entidad aliada en el
                                                proyecto</label>
                                            <select name="tipo_entidad_aliada" id="tipo_entidad_aliada"
                                                class="form-control selectmod">
                                                <option value="" disabled selected>Seleccione una opción...</option>
                                                <option value="Empresa">Empresa</option>
                                                <option value="Universidad">Universidad</option>
                                                <option value="Entidad sin animo de lucro">Entidad sin ánimo de lucro
                                                </option>
                                                <option value="Centro de formacion SENA">Centro de formación SENA
                                                </option>
                                                <option value="Otra">Otra</option>
                                                <div class="invalid-feedback">
                                                </div>
                                            </select>

                                            <label for="" class="form-label">Naturaleza de la entidad en el
                                                proyecto</label>
                                            <select name="naturaleza_entidad" id="naturaleza_entidad"
                                                class="form-control selectmod">
                                                <option value="" disabled selected>Selecciona una opción...</option>
                                                <option value="Publica">Pública</option>
                                                <option value="Privada">Privada</option>
                                                <option value="Mixta">Mixta</option>
                                                <option value="ONG">ONG</option>
                                                <div class="invalid-feedback">
                                                </div>
                                            </select>

                                            <label for="" class="form-label">Clasificación de empresa (entidad
                                                aliada)</label>
                                            <select name="clasificacion_empresa" id="clasificacion_empresa"
                                                class="form-control selectmod">
                                                <option value="" disabled selected>Seleccione una opción...</option>
                                                <option value="Microempresa">Microempresa</option>
                                                <option value="Pequeña">Pequeña</option>
                                                <option value="Mediana">Mediana</option>
                                                <option value="Grande">Grande</option>
                                            </select>

                                            <label for="" class="form-label">NIT (entidad aliada)</label>
                                            <input type="text" name="nit" id="nit" class="form-control form-control-sm"
                                                placeholder="">
                                            <div class="invalid-feedback">
                                            </div>

                                            <label for="" class="form-label">Convenio (entidad aliada)</label>
                                            <select name="convenio" id="convenio" class="form-control selectmod">
                                                <option value="" disabled selected>Seleccione una opción...</option>
                                                <option value=True>Sí</option>
                                                <option value=False>No</option>
                                            </select>
                                            <div class="invalid-feedback">
                                            </div>

                                            <label for="" class="form-label">Si contestó la pregunta anterior tipo y
                                                código de convenio</label>
                                            <input type="text" name="especifique_tipo_codigo_convenio"
                                                id="especifique_tipo_codigo_convenio"
                                                class="form-control form-control-sm" placeholder="">
                                            <div class="invalid-feedback">
                                            </div>

                                            <label for="" class="form-label">Metodología o actividades de transferencia
                                                (Centro Formación)</label>
                                            <input type="text" name="metodologia_act_transferencia_centro_formacion"
                                                id="metodologia_act_transferencia_centro_formacion"
                                                class="form-control form-control-sm" placeholder="">
                                            <div class="invalid-feedback">
                                            </div>
                                            <div class="obj-c">
                                                <label for="" class="form-label">Objetivo(s) especificos
                                                    relacionados</label>
                                                {% for objEspecifico in objEspecificos %}
                                                <div class="form-check">
                                                    <input class="form-check-input objEspecifico" type="checkbox" value="" id="objEspecifico{{ forloop.counter }}" />
                                                    <label class="form-check-label mb-3">{{objEspecifico.objetivo_especifico}}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Segunda columna con 10 campos -->
                                    <div class="col-12 col-md-6">
                                        <!-- Campo 1 -->

                                        <label for="" class="form-label">Recursos en especie entidad aliada
                                            ($COP)</label>
                                        <input type="number" name="recursos_especie_entidad"
                                            id="recursos_especie_entidad" class="form-control form-control-sm"
                                            placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <!-- Campo 2 -->

                                        <label for="" class="form-label">Descripción de los recursos en especie
                                            aportados</label>
                                        <input type="text" name="descripcion_recursos_especie_aportados"
                                            id="descripcion_recursos_especie_aportados"
                                            class="form-control form-control-sm" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <!-- Campo 3 -->

                                        <label for="" class="form-label">Recursos en dinero entidad aliada
                                            ($COP)</label>
                                        <input type="number" name="recursos_dinero_entidad_aliada"
                                            id="recursos_dinero_entidad_aliada" class="form-control form-control-sm"
                                            placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <!-- Campo 4 -->

                                        <label for="" class="form-label">Descripción de la destinación del dinero
                                            aportado</label>
                                        <input type="text" name="descripcion_destinacion_dinero_aportado"
                                            id="descripcion_destinacion_dinero_aportado"
                                            class="form-control form-control-sm" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <!-- Campo 5 -->
                                        
                                        <label for="codigo1">Código grupo de investigación</label>
                                        <select name="codigo_Grupo_Investigacion" class="form-select" id="select_box">
                                            <option value="" disabled selected>Selecciona una opción...</option>
                                            {% for codigo in listaPlegable.codigos %}
                                            {% if codigo is None %}
                                            {% else %}
                                            <option value="{{codigo}}">{{codigo}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>

                                        <!-- Campo 6 -->

                                        <label for="nombre_grupo1">Nombre del grupo de investigación de la entidad aliada</label>
                                        <input id="nombregrupo" name="nombre_Grupo_Investigacion" class="form-control" readonly>
                                        
                                        <select class="form-select" id="nombre_grupo_inv_entidad_aliada" style="display: none;">
                                            <option selected disabled value=""></option>
                                            {% for nombre in listaPlegable.nombres %}
                                            {% if nombre is None %}
                                            {% else %}
                                            <option value="{{nombre}}">{{nombre}}</option>
                                            {% endif %}
                                            {% endfor %} 
                                        </select>

                                        <!-- Campo 7 -->

                                        <label for="" class="form-label">Link de GrupLAC<br>(entidad aliada)</label>
                                        <input type="text" name="link_gruplac_entidad_aliada"
                                            id="link_gruplac_entidad_aliada" class="form-control form-control-sm"
                                            placeholder="">
                                        <div class="invalid-feedback">
                                        </div>

                                        <!-- Campo 8 -->

                                        <label for="" class="form-label">Actividades a desarrollar por la entidad
                                            aliada<br>(proyecto)</label>
                                        <input type="text" name="actividades_desarrollar_entidad_aliada_marco_proyecto"
                                            id="actividades_desarrollar_entidad_aliada_marco_proyecto"
                                            class="form-control form-control-sm" placeholder="">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>


                                    <!-- Botón Siguiente centrado -->
                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                            class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow"
                                            id="enviarG">Guardar Entidad Aliada</button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                            class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow"
                                            id="enviarGYS">Ir a la Siguiente Vista</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/centro_formacion.js' %}"></script>
    {% endblock%}