{% extends "form/crearp.html" %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
{% load static %}
{% block forms %}
    <div class="accordion" id="accordionExample">
        <div class="steps pasop mt-3">
            <progress id="progress" value=0 max=100 class="mb-4"></progress>
            <div class="step-item flex-fill mb-3">
                <button class="step-button text-center mb-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="step1">
                    1
                </button>
                <div class="step-title">
                    <label for="text" class="form-label">Tiempo de ejecución<br>del proyecto</label>
                </div>
            </div>
            <div class="step-item flex-fill mb-3">
                <button class="step-button text-center mb-2 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="step2">
                    2
                </button>
                <div class="step-title">
                    <label for="text" class="form-label">Cadena de valor<br>del proyecto</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center col-12">
            <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">PROYECCIÓN</h5>
        </div>
        <input id="id_proyecto" type="hidden" value="{{proyecto.id}}">
        <div class="card">
            <div id="headingOne">
                <!-- Contenido Primer boton -->
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <div class="contenido">
                        <div class="d-flex justify-content-center col-12">
                            <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Tiempo de ejecución del proyecto</h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                <div class="bg-light mt-2 spos border_radius row me-0">
                                    <form class="needs-validation" id="form1">
                                        <!-- Primera columna con 4 filas -->
                                        <div class="col-12 col-md-10">
                                            {% csrf_token %}
                                            <div class="mt-3" style="width: 95%; margin-left: 2%;">
                                                <div class="mb-3">
                                                    <label class="form-label">Duración del proyecto (debe
                                                        coincidir con el cronograma)</label>
                                                    <input disabled id="duracion_proyecto" type="text" class="form-control form-control-sm">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Fecha de inicio (Debe coincidir
                                                        con el cronograma)</label>
                                                    <input id="fecha_inicio" type="date" class="form-control form-control-sm">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Fecha de cierre</label>
                                                    <input id="fecha_cierre" type="date" class="form-control form-control-sm">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Botón Siguiente centrado -->
                                        <div class="d-flex justify-content-center col-12">
                                            <button id="enviar1" type="button" class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="headingTwo">

            </div>
            <!-- Segundo boton de contenido -->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <div class="contenido">
                        <div class="d-flex justify-content-center col-12">
                            <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">
                                Cadena de valor del proyecto</h5>
                        </div>
                        <input id="id_proyecto" type="hidden" value="{{proyecto.id}}">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                <div class="bg-light mt-2 spos border_radius row me-0">
                                    <!-- Primera columna con 4 campos -->
                                    <form method="post" class="needs-validation" id="form2">
                                        <div class="col-12 col-md-10 mb-3">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label class="form-label">Cadena de valor del proyecto</label>
                                                <div class="col"> <a href="{% url 'generar_c_valor' proyecto.id %}" class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Descargar </a> </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Propuesta de sostenibilidad</label>
                                                <textarea class="form-control form-control-sm rectangular-textarea medium-textarea txtarea" id="propuesta_sostenibilidad" cols="10" rows="5"></textarea>
                                                <div class="invalid-feedback">
                                                </div>
                                                <span id="char-counter1">0/500 máximo</span>
                                                <input type="hidden" name="val_just1" value="500">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Impacto social</label>
                                                <textarea class="form-control form-control-sm rectangular-textarea medium-textarea txtarea" id="impacto_social" cols="10" rows="5"></textarea>
                                                <div class="invalid-feedback">
                                                </div>
                                                <span id="char-counter2">0/500 máximo</span>
                                                <input type="hidden" name="val_just2" value="500">
                                            </div>
                                            <div class="mb3">
                                                <label class="form-label fs-6 fw-normal">Impacto tecnológico</label>
                                                <textarea class="form-control form-control-sm rectangular-textarea medium-textarea txtarea" id="impacto_tecnologico" cols="10" rows="5"></textarea>
                                                <div class="invalid-feedback">
                                                </div>
                                                <span id="char-counter3">0/500 máximo</span>
                                                <input type="hidden" name="val_just3" value="500">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label fs-6 fw-normal">Impacto centro de formación</label>
                                                <textarea class="form-control form-control-sm rectangular-textarea medium-textarea txtarea" id="impacto_centro" cols="10" rows="5"></textarea>
                                                <div class="invalid-feedback">
                                                </div>
                                                <span id="char-counter4">0/500 máximo</span>
                                                <input type="hidden" name="val_just4" value="500">
                                            </div>
                                        </div>

                                        <!-- Botón Siguiente centrado -->
                                        <div class="d-flex justify-content-center col-12">
                                            <button type="button" id="enviar2" class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/proyeccion.js' %}"></script>
{% endblock %}