{% extends "form/crearp.html" %}

{% load static %}
{% block forms %}
<div class="accordion" id="accordionExample">
    <div class="steps pasop">
        <progress id="progress" value=0 max=100></progress>
        <div class="step-item flex-fill">
            <button class="step-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="step1">1</button>
            <div class="step-title">
                <label for="" class="form-label">Cronograma</label>
            </div>
        </div>
        <div class="step-item flex-fill">
            <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="step2">2</button>
            <div class="step-title">Presupuesto</div>
        </div>
    </div>
    <div class="d-flex justify-content-center col-12">
        <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">RECURSOS</h5>
    </div>

    <div class="card">
        <div id="headingOne">
        </div>
        <!-- Contenido de primer boton -->
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="card-body">
                <div class="contenido">
                    <div class="d-flex justify-content-center col-12">
                        <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Cronograma</h5>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 md-10">
                            <div class="bg-light mt-2 border_radius row me-0">
                                <div class="col-12 md-10">
                                    <form method="post" id="form1" class="needs-validation row">
                                        <input id="id_proyecto" type="hidden" value="{{percentaje}}">
                                        {% csrf_token %}
                                        <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                            <div class="mb-3">
                                                <label class="form-label">Actividad</label> <br>
                                                <select name="actividad" class="form-select" id="actividad">
                                                    <option value="" disabled selected>Selecciona la actividad a la cual le vas a asignar o editar el cronograma</option>
                                                    {% for objetivos in objEspecificos%}
                                                    <option value="{{objetivos.id}}">{{objetivos.actividades_obj_especificos}}</option>
                                                    <p>{{objetivos.actividades_obj_especificos|slice:":150"}}</p>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label class="form-label">Fecha de inicio</label>
                                                <input id="fecha_inicio" type="date" class="form-control form-control-sm" value="">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Fecha de cierre</label>
                                                <input id="fecha_cierre" type="date" class="form-control form-control-sm" value="">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <div class="mb-3 row">
                                                <label for="">Actores relacionados</label>
                                                <div class="col-6">
                                                    {% for entidad in entidades %}
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="{{entidad.id}}" id="entidad{{ forloop.counter }}"/>
                                                        <label class="form-check-label">{{entidad.nombre_entidad}}</label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-6">
                                                    {% for participante in participantes %}
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="{{participante.id}}" id="participante{{ forloop.counter }}"/>
                                                        <label class="form-check-label">{{participante.nombre}} </label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Observacion</label>
                                                <textarea class="form-control" name="" id="observacion" rows="3"></textarea>
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Botón Siguiente centrado -->
                                        <div class="d-flex justify-content-center col-12">
                                            <button type="button" id="enviar1"
                                            class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                        </div>
                                    </form>
                                    <a target="_blank" href="{% url 'gantt_chart' percentaje %}">Ver diagrama</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div id="headingTwo">
        <!-- Contenido segundo boton -->
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="card-body">
            <div class="contenido">
                <div class="d-flex justify-content-center col-12">
                    <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">Presupuesto</h5>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 md-10">
                        <div class="bg-light mt-2 border_radius row me-0">
                            <div class="col-12 md-10">
                                <form method="post" class="needs-validation row" id="form2">
                                    {% csrf_token %}
                                    <div class="col-12 col-md-6 mb-3 border-end pe-4 border-color-custom">
                                        <div class="mb-3">
                                            <label class="form-label">Actividad</label>
                                            <select name="actividad" class="form-select" id="actividadR">
                                                <option value="" disabled selected>Selecciona la actividad a la cual le vas a asignar o editar el presupuesto</option>
                                                {% for objetivos in objEspecificos%}
                                                    <option value="{{objetivos.id}}">{{objetivos.actividades_obj_especificos}}</option>
                                                    <p>{{objetivos.actividades_obj_especificos|slice:":150"}}</p>
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tipo Rubro</label>
                                            <select name="tipoRubro" class="form-select" id="select_box">
                                                <option value="" disabled selected>Selecciona una opción...</option>
                                                {% for Trubro in tipoRubros %}
                                                    <option value="{{Trubro.id}}">{{Trubro.descripcion}}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="mb-3">
                                            <label for="valor" class="form-label">Valor $</label>
                                            <input type="number" class="form-control" id="valor"/>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Rubro</label> <br>
                                            <select name="rubro" class="form-select" id="select_box2">
                                                <option value="" disabled selected>Selecciona una opción...</option>
                                                {% for rubro in rubros %}
                                                    <option value="{{rubro.id}}" data-Asociacion="{{rubro.tipo.id}}">{{rubro.descripcion}}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Botón Siguiente centrado -->
                                    <div class="d-flex justify-content-center col-12">
                                        <button type="button" id="enviar2"
                                        class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/recursos.js' %}"></script>
{% endblock%}