{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>PDG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body class="container-fluid">
    <header class="bg-light mt-2 ms-1 me-1 row border_radius">
        <div class="col-2 ps-4 align-self-center">
            <a class="" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                <span class="material-symbols-outlined" style="color: #39a900;">density_medium</span>
            </a>
        </div>
        <div class="col-md-8 col-7 text-center align-self-center">
            <img class="pt-3 pb-3" src="{% static 'img/LogoSenaVerde.png' %}" alt="LogoSenaVerde" width="50">
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
            <img class="img-fluid me-2" src="{% static 'img/Logo_gici.jpeg' %}" alt="Logo Gici" width="70">
            <img class="img-fluid" src="{% static 'img/sennova_logo.png' %}" alt="Sennova Logo" width="170;">
        </div>
    </header>

    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="steps pasop">
                <progress id="progress" value=0 max=100></progress>
                <div class="step-item flex-fill">
                    <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1
                    </button>
                    <div class="step-title">
                        <label for="" class="form-label">Nivel objetivo general</label>
                    </div>
                </div>
                <div class="step-item flex-fill">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2
                    </button>
                    <div class="step-title">
                        <label for="" class="form-label">Nivel productos</label>
                    </div>
                </div>
                <div class="step-item flex-fill">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3
                    </button>
                    <div class="step-title">
                        <label for="" class="form-label">Nivel actividades</label>
                    </div>
                </div>
            </div>

            <div class="card">
                <div id="headingOne">
                </div>
                <!-- Contenido de primer boton -->
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <div class="contenido">
                            <!-- BARRA DE PROGRESO -->
                            <div class="d-flex justify-content-end mt-3 mr-3">
                                <div class="col-4 mb-4">
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25;">
                                        <div class="progress-bar bg-green" style="width: 25%">25%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-12">
                                <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">
                                    Nivel objetivo general</h5>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 md-10">
                                    <div class="bg-light mt-2 border_radius row me-0">
                                        <div class="col-12 md-10">
                                            <div class="mt-3" style="width: 95%; margin-left: 2%;">
                                                <div class="row">
                                                    <!-- Columna 1 con borde a la derecha -->
                                                    <div class="col-12 col-md-6 border-end border-color-custom">

                                                        <div class="mb-3">
                                                            <form method="post" action="{% url 'riesgos_proyecto' %}">
                                                                {% csrf_token %}
                                                                <label for="" class="form-label">Tipo de riesgo</label>
                                                                <select name="tipo" id="tipo"
                                                                    class="form-control selectmod">
                                                                    <option value="" disabled selected>Selecciona una
                                                                        opción...</option>
                                                                    <option value="mercado">Mercado</option>
                                                                    <option value="operacionales">Operacionales</option>
                                                                    <option value="legales">Legales</option>
                                                                    <option value="administrativos">Administrativos
                                                                    </option>
                                                                </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Impacto</label>
                                                            <select name="impacto" id="impacto"
                                                                class="form-control selectmod">
                                                                <option value="" disabled selected>Selecciona una
                                                                    opción...</option>
                                                                <option value="alto">Alto</option>
                                                                <option value="moderado">Moderado</option>
                                                                <option value="leve">Leve</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Descripción de
                                                                riesgo</label>
                                                            <input type="text" name="descripcion" id="descripcion"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </div>

                                                    <!-- Columna 2 -->
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Efecto</label>
                                                            <input type="text" name="efectos" id="efectos"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Probabilidad</label>
                                                            <select name="probabilidad" id="probabilidad"
                                                                class="form-control selectmod">
                                                                <option value="" disabled selected>Selecciona una
                                                                    opción...</option>
                                                                <option value="posible">Posible</option>
                                                                <option value="probable">Probable</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Medidas de
                                                                mitigación</label>
                                                            <input type="text" name="medidas_Mitigacion"
                                                                id="medidas_Mitigacion"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Botón Siguiente centrado -->
                                                <div class="d-flex justify-content-center col-12 mt-3">
                                                    <button type="submit"
                                                        class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="headingTwo">
                    <!-- Contenido segundo boton -->
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <div class="contenido">
                            <!-- BARRA DE PROGRESO -->
                            <div class="d-flex justify-content-end mt-3 mr-3">
                                <div class="col-4 mb-4">
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25;">
                                        <div class="progress-bar bg-green" style="width: 25%">25%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-12">
                                <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">
                                    Nivel productos</h5>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 md-10">
                                    <div class="bg-light mt-2 border_radius row me-0">
                                        <div class="col-12 md-10">
                                            <div class="mt-3" style="width: 95%; margin-left: 2%;">
                                                <div class="row">
                                                    <!-- Columna 1 con borde a la derecha -->
                                                    <div class="col-12 col-md-6 border-end border-color-custom">

                                                        <div class="mb-3">
                                                            <form method="post" action="{% url 'riesgo_productos' %}">
                                                                {% csrf_token %}
                                                                <label for="" class="form-label">Tipo de riesgo</label>
                                                                <select name="tipo2" id="tipo2"
                                                                    class="form-control selectmod">
                                                                    <option value="" disabled selected>Selecciona una
                                                                        opción...</option>
                                                                    <option value="mercado">Mercado</option>
                                                                    <option value="operacionales">Operacionales</option>
                                                                    <option value="legales">Legales</option>
                                                                    <option value="administrativos">Administrativos
                                                                    </option>
                                                                </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Impacto</label>
                                                            <select name="impacto2" id="impacto2"
                                                                class="form-control selectmod">
                                                                <option value="" disabled selected>Selecciona una
                                                                    opción...</option>
                                                                <option value="alto">Alto</option>
                                                                <option value="moderado">Moderado</option>
                                                                <option value="leve">Leve</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Descripción de
                                                                riesgo</label>
                                                            <input type="text" name="descripcion2" id="descripcion2"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </div>

                                                    <!-- Columna 2 -->
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Efecto</label>
                                                            <input type="text" name="efectos2" id="efectos2"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Probabilidad</label>
                                                            <select name="probabilidad2" id="probabilidad2"
                                                                class="form-control selectmod">
                                                                <option value="" disabled selected>Selecciona una
                                                                    opción...</option>
                                                                <option value="posible">Posible</option>
                                                                <option value="probable">Probable</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Medidas de
                                                                mitigación</label>
                                                            <input type="text" name="medidas_Mitigacion2"
                                                                id="medidas_Mitigacion2"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Botón Siguiente centrado -->
                                                <div class="d-flex justify-content-center col-12 mt-3">
                                                    <button type="submit"
                                                        class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div id="headingThree">

                </div>
                <!-- Tercer boton de contenido -->
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <div class="contenido">
                            <!-- BARRA DE PROGRESO -->
                            <div class="d-flex justify-content-end mt-3 mr-3">
                                <div class="col-4 mb-4">
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25;">
                                        <div class="progress-bar bg-green" style="width: 25%">25%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-12">
                                <h5 class="bg-custom-green pt-3 pb-3 mb-2 border_radius centradow w-100 text-center">
                                    Nivel actividades</h5>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 md-10">
                                    <div class="bg-light mt-2 border_radius row me-0">
                                        <div class="col-12 md-10">
                                            <div class="mt-3" style="width: 95%; margin-left: 2%;">
                                                <div class="row">
                                                    <!-- Columna 1 con borde a la derecha -->
                                                    <div class="col-12 col-md-6 border-end border-color-custom">

                                                        <div class="mb-3">
                                                            <form method="post" action="{% url 'riesgo_actividades' %}">
                                                                {% csrf_token %}
                                                                <label for="" class="form-label">Tipo de riesgo</label>
                                                                <select name="tipo3" id="tipo3"
                                                                    class="form-control selectmod">
                                                                    <option value="" disabled selected>Selecciona una
                                                                        opción...</option>
                                                                    <option value="mercado">Mercado</option>
                                                                    <option value="operacionales">Operacionales</option>
                                                                    <option value="legales">Legales</option>
                                                                    <option value="administrativos">Administrativos
                                                                    </option>
                                                                </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Impacto</label>
                                                            <select name="impacto3" id="impacto3"
                                                                class="form-control selectmod">
                                                                <option value="" disabled selected>Selecciona una
                                                                    opción...</option>
                                                                <option value="alto">Alto</option>
                                                                <option value="moderado">Moderado</option>
                                                                <option value="leve">Leve</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Descripción de
                                                                riesgo</label>
                                                            <input type="text" name="descripcion3" id="descripcion3"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </div>

                                                    <!-- Columna 2 -->
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Efecto</label>
                                                            <input type="text" name="efectos3" id="efectos3"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Probabilidad</label>
                                                            <select name="probabilidad3" id="probabilidad3"
                                                                class="form-control selectmod">
                                                                <option value="" disabled selected>Selecciona una
                                                                    opción...</option>
                                                                <option value="posible">Posible</option>
                                                                <option value="probable">Probable</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="" class="form-label">Medidas de
                                                                mitigación</label>
                                                            <input type="text" name="medidas_Mitigacion3"
                                                                id="medidas_Mitigacion3"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Botón Siguiente centrado -->
                                                <div class="d-flex justify-content-center col-12 mt-3">
                                                    <button type="submit"
                                                        class="btn-bg-green pt-3 pb-3 mb-2 border_radius centradow">Siguiente</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="row ms-1 me-1 mt-2 bg-light border_radius">
        <div class="offcanvas offcanvas-start w-25 dcanva" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2  izq border_radius" href="{% url 'crear_proyecto' %}">Crear
                    proyecto</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'info_proyecto' %}">Información del
                    proyecto</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'est_proyecto'}">Estructura del
                    proyecto</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="">Objetivos generales
                    específicos</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="">Metodología</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="{% url 'part_proyecto' %}">Participación</a>
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="">Proyección</a>
                <!-- <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="">Análisis de riesgo</a> -->
                <a class="btn-n btn-bg-white mt-2 pt-2 pb-2 izq border_radius" href="">Anexos</a>
                <div class="btn-bg-white mt-2 pt-2 pb-2 centradow border_radius">
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </main>

    <footer class="border_radius mt-3 mb-3 bg-light border_radius">
        <img class="pt-3 pb-3" src="{% static 'img/LogoSenaVerde.png' %}" style="margin: auto;" width="50">
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <!-- Stepper JavaScript -->
    <script>
        const stepButtons = document.querySelectorAll('.step-button');
        const progress = document.querySelector('#progress');

        Array.from(stepButtons).forEach((button, index) => {
            button.addEventListener('click', () => {
                progress.setAttribute('value', index * 100 / (stepButtons.length - 1));//there are 3 buttons. 2 spaces.

                stepButtons.forEach((item, secindex) => {
                    if (index > secindex) {
                        item.classList.add('done');
                    }
                    if (index < secindex) {
                        item.classList.remove('done');
                    }
                })
            })
        })
    </script>

</body>

</html>